<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yougou.logistics.city.dal.mapper.BillUmInstockDtlMapper" >
  <resultMap id="BaseResultMap" type="com.yougou.logistics.city.common.model.BillUmInstockDtl" >
    <id column="LOCNO" property="locno" jdbcType="VARCHAR" />
    <id column="OWNER_NO" property="ownerNo" jdbcType="VARCHAR" />
    <id column="INSTOCK_NO" property="instockNo" jdbcType="VARCHAR" />
    <id column="INSTOCK_ID" property="instockId" jdbcType="DECIMAL" />
    <result column="DIRECT_SERIAL" property="directSerial" jdbcType="DECIMAL" />
    <result column="ITEM_NO" property="itemNo" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="COLOR_NAME" property="colorName" jdbcType="VARCHAR" />
    <result column="SIZE_NO" property="sizeNo" jdbcType="VARCHAR" />
    <result column="CELL_NO" property="cellNo" jdbcType="VARCHAR" />
    <result column="CELL_ID" property="cellId" jdbcType="DECIMAL" />
    <result column="DEST_CELL_NO" property="destCellNo" jdbcType="VARCHAR" />
    <result column="DEST_CELL_ID" property="destCellId" jdbcType="DECIMAL" />
    <result column="REAL_CELL_NO" property="realCellNo" jdbcType="VARCHAR" />
    <result column="ITEM_QTY" property="itemQty" jdbcType="DECIMAL" />
    <result column="REAL_QTY" property="realQty" jdbcType="DECIMAL" />
    <result column="BOX_NO" property="boxNo" jdbcType="VARCHAR" />
    <result column="INSTOCK_DATE" property="instockDate" jdbcType="TIMESTAMP" />
    <result column="INSTOCK_WORKER" property="instockWorker" jdbcType="VARCHAR" />
    <result column="INSTOCKNAME" property="instockName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="SOURCE_NO" property="sourceNo" jdbcType="VARCHAR" />
    <result column="BRAND_NO" property="brandNo" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="VARCHAR" />
    <result column="quality" property="quality" jdbcType="VARCHAR" />
    <result column="INSTOCKED_QTY" property="instockedQty" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    d.LOCNO, d.OWNER_NO OWNERNO, d.INSTOCK_NO INSTOCKNO, d.INSTOCK_ID INSTOCKID, d.DIRECT_SERIAL DIRECTSERIAL, d.ITEM_NO ITEMNO, d.SIZE_NO SIZENO, d.CELL_NO CELLNO,
    d.CELL_ID CELLID, d.DEST_CELL_NO DESTCELLNO, d.DEST_CELL_ID DESTCELLID, d.REAL_CELL_NO REALCELLNO, d.ITEM_QTY ITEMQTY, d.REAL_QTY REALQTY, d.BOX_NO BOXNO, d.INSTOCK_DATE INSTOCKDATE, 
    d.INSTOCK_WORKER INSTOCKWORKER, d.STATUS,SOURCE_NO SOURCENO, d.BRAND_NO BRANDNO, d.INSTOCKED_QTY INSTOCKEDQTY
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.locno and ''!=params.locno" >
        and d.locno = #{params.locno,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.instockNo and ''!=params.instockNo" >
        and d.INSTOCK_NO = #{params.instockNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.ownerNo and ''!=params.ownerNo" >
        and d.owner_no = #{params.ownerNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.instockId and ''!=params.instockId" >
        and d.instock_id = #{params.instockId,jdbcType=DECIMAL}
      </if>
      <if test="null!=params.sizeNo and ''!=params.sizeNo" >
        and d.SIZE_NO = #{params.sizeNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.itemNo and ''!=params.itemNo" >
        and d.ITEM_NO = #{params.itemNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.boxNo and ''!=params.boxNo" >
        and d.BOX_NO = #{params.boxNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.sourceNo and ''!=params.sourceNo" >
        and d.SOURCE_NO = #{params.sourceNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.destCellNo and ''!=params.destCellNo" >
        and d.DEST_CELL_NO = #{params.destCellNo,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.destCellId and ''!=params.destCellId" >
        and d.DEST_CELL_ID = #{params.destCellId,jdbcType=DECIMAL}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yougou.logistics.city.common.model.BillUmInstockDtlKey" >
    select 
    <include refid="Base_Column_List" />
    from BILL_UM_INSTOCK_DTL d
    where d.LOCNO = #{locno,jdbcType=VARCHAR}
      and d.OWNER_NO = #{ownerNo,jdbcType=VARCHAR}
      and d.INSTOCK_NO = #{instockNo,jdbcType=VARCHAR}
      and d.INSTOCK_ID = #{instockId,jdbcType=DECIMAL}
  </select>
  <select id="selectMaxInstockId" resultType="java.lang.Long" >
    select max(instock_id) from bill_um_instock_dtl d where 1=1 
    <include refid="condition" />
  </select>
  
    <!--权限过滤查询条件-->
  <sql id="AuthorityCondition" >
     <if test="null!=authorityParams and null!=authorityParams.hasBrandNoList" >
       and d.brand_no in <include refid="com.yougou.logistics.city.dal.database.AuthorityMapper.Verify_Authority_Brand_Sql" />
    </if>
  </sql>
  
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from BILL_UM_INSTOCK_DTL d where 1=1 
    <include refid="condition" />
    <include refid="AuthorityCondition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    select B.* from (select A.*,cc.item_type itemtype,cc.quality,rownum rn from( select 
    <include refid="Base_Column_List" />,i.item_name itemName,ci.color_name colorName
     from BILL_UM_INSTOCK_DTL d 
     left join item i
     on i.item_no = d.item_no
     left join color_info ci 
     on i.color_no = ci.color_no
     where 1=1 
    <include refid="condition" />
    <include refid="AuthorityCondition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
    ) A left join BILL_UM_INSTOCK cc on cc.locno = A.locno and cc.instock_no  = A.instockno where rownum &lt; #{page.endRowNum}) B where rn &gt; #{page.startRowNum}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
     from BILL_UM_INSTOCK_DTL d where 1=1 
    <include refid="condition" />
  </select>
  
  <select id="selectSumQty" resultType="com.yougou.logistics.city.common.utils.SumUtilMap" parameterType="map">
	  select sum(nvl(ITEM_QTY,0)) ITEM_QTY,sum(nvl(REAL_QTY,0)) REAL_QTY,sum(nvl(INSTOCKED_QTY,0)) INSTOCKED_QTY
	  from BILL_UM_INSTOCK_DTL d where 1=1
 	 <include refid="condition" />
  <include refid="AuthorityCondition" />
  </select> 
  
  <delete id="deleteByPrimaryKey" parameterType="com.yougou.logistics.city.common.model.BillUmInstockDtlKey" >
    delete from BILL_UM_INSTOCK_DTL
    where LOCNO = #{locno,jdbcType=VARCHAR}
      and OWNER_NO = #{ownerNo,jdbcType=VARCHAR}
      and INSTOCK_NO = #{instockNo,jdbcType=VARCHAR}
      <if test="instockId != null">
      and INSTOCK_ID = #{instockId,jdbcType=DECIMAL}
      </if>
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.yougou.logistics.city.common.model.BillUmInstockDtl" >
    delete from BILL_UM_INSTOCK_DTL
    where LOCNO = #{locno,jdbcType=VARCHAR}
      and OWNER_NO = #{ownerNo,jdbcType=VARCHAR}
      and INSTOCK_NO = #{instockNo,jdbcType=VARCHAR}
      <if test="instockId != null">
      and INSTOCK_ID = #{instockId,jdbcType=DECIMAL}
      </if>
  </delete>
  <insert id="insert" parameterType="com.yougou.logistics.city.common.model.BillUmInstockDtl" >
    insert into BILL_UM_INSTOCK_DTL (LOCNO, OWNER_NO, INSTOCK_NO, 
      INSTOCK_ID, DIRECT_SERIAL, ITEM_NO, 
      SIZE_NO, CELL_NO, CELL_ID, 
      DEST_CELL_NO, DEST_CELL_ID, REAL_CELL_NO, 
      ITEM_QTY, REAL_QTY, BOX_NO, 
      INSTOCK_DATE, INSTOCK_WORKER, INSTOCKNAME, STATUS
      )
    values (#{locno,jdbcType=VARCHAR}, #{ownerNo,jdbcType=VARCHAR}, #{instockNo,jdbcType=VARCHAR}, 
      #{instockId,jdbcType=DECIMAL}, #{directSerial,jdbcType=DECIMAL}, #{itemNo,jdbcType=VARCHAR}, 
      #{sizeNo,jdbcType=VARCHAR}, #{cellNo,jdbcType=VARCHAR}, #{cellId,jdbcType=DECIMAL}, 
      #{destCellNo,jdbcType=VARCHAR}, #{destCellId,jdbcType=DECIMAL}, #{realCellNo,jdbcType=VARCHAR}, 
      #{itemQty,jdbcType=DECIMAL}, #{realQty,jdbcType=DECIMAL}, #{boxNo,jdbcType=VARCHAR}, 
      #{instockDate,jdbcType=TIMESTAMP}, #{instockWorker,jdbcType=VARCHAR}, #{instockName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yougou.logistics.city.common.model.BillUmInstockDtl" >
    insert into BILL_UM_INSTOCK_DTL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="locno != null" >
        LOCNO,
      </if>
      <if test="ownerNo != null" >
        OWNER_NO,
      </if>
      <if test="instockNo != null" >
        INSTOCK_NO,
      </if>
      <if test="instockId != null" >
        INSTOCK_ID,
      </if>
      <if test="directSerial != null" >
        DIRECT_SERIAL,
      </if>
      <if test="itemNo != null" >
        ITEM_NO,
      </if>
      <if test="sizeNo != null" >
        SIZE_NO,
      </if>
      <if test="cellNo != null" >
        CELL_NO,
      </if>
      <if test="cellId != null" >
        CELL_ID,
      </if>
      <if test="destCellNo != null" >
        DEST_CELL_NO,
      </if>
      <if test="destCellId != null" >
        DEST_CELL_ID,
      </if>
      <if test="realCellNo != null" >
        REAL_CELL_NO,
      </if>
      <if test="itemQty != null" >
        ITEM_QTY,
      </if>
      <if test="realQty != null" >
        REAL_QTY,
      </if>
      <if test="boxNo != null" >
        BOX_NO,
      </if>
      <if test="instockDate != null" >
        INSTOCK_DATE,
      </if>
      <if test="instockWorker != null" >
        INSTOCK_WORKER,
      </if>
      <if test="instockName != null" >
        INSTOCKNAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="sourceNo != null" >
        SOURCE_NO,
      </if>
      <if test="brandNo != null" >
        BRAND_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="locno != null" >
        #{locno,jdbcType=VARCHAR},
      </if>
      <if test="ownerNo != null" >
        #{ownerNo,jdbcType=VARCHAR},
      </if>
      <if test="instockNo != null" >
        #{instockNo,jdbcType=VARCHAR},
      </if>
      <if test="instockId != null" >
        #{instockId,jdbcType=DECIMAL},
      </if>
      <if test="directSerial != null" >
        #{directSerial,jdbcType=DECIMAL},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="sizeNo != null" >
        #{sizeNo,jdbcType=VARCHAR},
      </if>
      <if test="cellNo != null" >
        #{cellNo,jdbcType=VARCHAR},
      </if>
      <if test="cellId != null" >
        #{cellId,jdbcType=DECIMAL},
      </if>
      <if test="destCellNo != null" >
        #{destCellNo,jdbcType=VARCHAR},
      </if>
      <if test="destCellId != null" >
        #{destCellId,jdbcType=DECIMAL},
      </if>
      <if test="realCellNo != null" >
        #{realCellNo,jdbcType=VARCHAR},
      </if>
      <if test="itemQty != null" >
        #{itemQty,jdbcType=DECIMAL},
      </if>
      <if test="realQty != null" >
        #{realQty,jdbcType=DECIMAL},
      </if>
      <if test="boxNo != null" >
        #{boxNo,jdbcType=VARCHAR},
      </if>
      <if test="instockDate != null" >
        #{instockDate,jdbcType=TIMESTAMP},
      </if>
      <if test="instockWorker != null" >
        #{instockWorker,jdbcType=VARCHAR},
      </if>
      <if test="instockName != null" >
        #{instockName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sourceNo != null" >
        #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="brandNo != null" >
        #{brandNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="planSave" parameterType="map">
  	update BILL_UM_INSTOCK_DTL
	   set REAL_CELL_NO = DEST_CELL_NO, 
	   REAL_QTY = ITEM_QTY,
	   INSTOCK_WORKER = #{params.instockWorker,jdbcType=VARCHAR},
	   INSTOCKNAME = #{params.instockName,jdbcType=VARCHAR},
	   INSTOCK_DATE = #{params.instockDate,jdbcType=TIMESTAMP}
	where locno = #{params.locno,jdbcType=VARCHAR}
	   and instock_no = #{params.instockNo,jdbcType=VARCHAR}
	   and REAL_CELL_NO is null
	   and (REAL_QTY = 0 or REAL_QTY is null)
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yougou.logistics.city.common.model.BillUmInstockDtl" >
    update BILL_UM_INSTOCK_DTL
    <set >
      <if test="directSerial != null" >
        DIRECT_SERIAL = #{directSerial,jdbcType=DECIMAL},
      </if>
      <if test="itemNo != null" >
        ITEM_NO = #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="sizeNo != null" >
        SIZE_NO = #{sizeNo,jdbcType=VARCHAR},
      </if>
      <if test="cellNo != null" >
        CELL_NO = #{cellNo,jdbcType=VARCHAR},
      </if>
      <if test="cellId != null" >
        CELL_ID = #{cellId,jdbcType=DECIMAL},
      </if>
      <if test="destCellNo != null" >
        DEST_CELL_NO = #{destCellNo,jdbcType=VARCHAR},
      </if>
      <if test="destCellId != null" >
        DEST_CELL_ID = #{destCellId,jdbcType=DECIMAL},
      </if>
      <if test="realCellNo != null" >
        REAL_CELL_NO = #{realCellNo,jdbcType=VARCHAR},
      </if>
      <if test="itemQty != null" >
        ITEM_QTY = #{itemQty,jdbcType=DECIMAL},
      </if>
      <if test="realQty != null" >
        REAL_QTY = #{realQty,jdbcType=DECIMAL},
      </if>
      <if test="boxNo != null" >
        BOX_NO = #{boxNo,jdbcType=VARCHAR},
      </if>
      <if test="instockDate != null" >
        INSTOCK_DATE = #{instockDate,jdbcType=TIMESTAMP},
      </if>
      <if test="instockWorker != null" >
        INSTOCK_WORKER = #{instockWorker,jdbcType=VARCHAR},
      </if>
      <if test="instockName != null" >
        INSTOCKNAME = #{instockName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where LOCNO = #{locno,jdbcType=VARCHAR}
      and OWNER_NO = #{ownerNo,jdbcType=VARCHAR}
      and INSTOCK_NO = #{instockNo,jdbcType=VARCHAR}
      and INSTOCK_ID = #{instockId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yougou.logistics.city.common.model.BillUmInstockDtl" >
    update BILL_UM_INSTOCK_DTL
    set DIRECT_SERIAL = #{directSerial,jdbcType=DECIMAL},
      ITEM_NO = #{itemNo,jdbcType=VARCHAR},
      SIZE_NO = #{sizeNo,jdbcType=VARCHAR},
      CELL_NO = #{cellNo,jdbcType=VARCHAR},
      CELL_ID = #{cellId,jdbcType=DECIMAL},
      DEST_CELL_NO = #{destCellNo,jdbcType=VARCHAR},
      DEST_CELL_ID = #{destCellId,jdbcType=DECIMAL},
      REAL_CELL_NO = #{realCellNo,jdbcType=VARCHAR},
      ITEM_QTY = #{itemQty,jdbcType=DECIMAL},
      REAL_QTY = #{realQty,jdbcType=DECIMAL},
      BOX_NO = #{boxNo,jdbcType=VARCHAR},
      INSTOCK_DATE = #{instockDate,jdbcType=TIMESTAMP},
      INSTOCK_WORKER = #{instockWorker,jdbcType=VARCHAR},
      INSTOCKNAME = #{instockName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where LOCNO = #{locno,jdbcType=VARCHAR}
      and OWNER_NO = #{ownerNo,jdbcType=VARCHAR}
      and INSTOCK_NO = #{instockNo,jdbcType=VARCHAR}
      and INSTOCK_ID = #{instockId,jdbcType=DECIMAL}
  </update>
</mapper>